.range {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  label {
    color: #fff;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 36px;
    width: 96%;
  }
  input {
    margin-top: 29px;
    width: 95%;
    -webkit-appearance: none;
    height: 2px;
  }
}
